* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  text-align: center;
}
ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

li {
  /* background-color: lightblue; */
  padding: 10px;
  /* border: 1px solid red; */
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}
img {
  width: 60px;
}

canvas {
  width: 600px;
  height: 500px;
  margin: 50px auto;
  background-color: #eee;
}
